# Deep Learning
torch
torchvision
torchaudio

# Machine Learning Utilities
scikit-learn
xgboost
lightgbm

# NLP libraries
transformers
datasets
sentencepiece
evaluate

# Data Handling & Utilities
numpy
pandas
matplotlib
seaborn

# MongoDB Support
pymongo
dnspython

# Jupyter and Interactive tools
jupyter
notebook
ipykernel

# Virtual Environment Manager
uv